body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f1f5f9;
}

.zp-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.zp-card{
    width:450px;
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
}

.zp-card h1{
    color:#0f172a;
}

.zp-card h2{
    margin-top:20px;
    color:#2563eb;
}

.zp-result{
    margin-top:25px;
    color:#16a34a;
}