.Task-1{
    background-color: lavender;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
    width: 400px;
    height: 150px;
}
.zp-container{
    background-color: #003049;
    padding: 30px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    margin-top: 10px;
}

.zp-header{
    text-align: center;
    margin-top: 40px;
}

.zp-title{
    font-size: 40px;
    color: #fff;
}

.zp-subtitle{
    color: #555;
}

.zp-skills-section{
    margin-top: 50px;
}

.zp-section-title{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.zp-skill-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.zp-skill-badge{
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
}