body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#bfc0c0;
}

.zp-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.zp-card{
    background: #ffffff;
    padding:40px;
    width:450px;
    border-radius:20px;
    text-align:center;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
}

.zp-card h1{
    color:#0f172a;
}

.zp-card p{
    color:#64748b;
}

.zp-card button{
    margin-top:20px;
    padding:14px 22px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.zp-data-box{
    margin-top:25px;
    background:#bfc0c0;
    padding:20px;
    border-radius:12px;
}