body{
    margin:0;
    font-family:Arial, sans-serif;
}

.zp-navbar-light{
    background:#f1f5f9;
    color:black;
}

.zp-navbar-dark{
    background:#0f172a;
    color:white;
}

.zp-navbar-light,
.zp-navbar-dark{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.zp-navbar-light button,
.zp-navbar-dark button{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.zp-dashboard{
    display:flex;
    gap:25px;
    justify-content:center;
    padding:60px;
    flex-wrap:wrap;
}

.zp-card-light{
    width:250px;
    padding:25px;
    background:#f8fafc;
    border-radius:18px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.1);
}

.zp-card-dark{
    width:250px;
    padding:25px;
    background:#1e293b;
    color:white;
    border-radius:18px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.3);
}