body{

margin:0;

background:#f4f7fc;

font-family:sans-serif;

}

.container{

width:500px;

margin:50px auto;

padding:30px;

background:white;

border-radius:15px;

}

h1{

text-align:center;

}

.input-area{

display:flex;

gap:10px;

}

input{

flex:1;

padding:12px;

}

button{

padding:12px;

cursor:pointer;

}

.task{

display:flex;

justify-content:space-between;

padding:15px;

margin-top:15px;

background:#eef2ff;

border-radius:10px;

}